// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

//
// Custom styles
//
@import "icon-list";
@import "layout";

.toast-top-right {
  top: 70px;
  right: 40px;
}